aside {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  position: absolute;
  width: 10vw;
  height: 100vh;
  border: solid black 1px;
  background-color: rgba(255,255,255, 0.1);

  li {
    list-style: none;

    svg {
      width: 150%;
      height: auto;
    }
  }

  .social {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    width: 100%;
  }
}

.landing {
  margin-left: 10vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-left: 2%;
}